$vinous: #8B123B;
$light-brown: #BD9365;
$black: #282828;
$light-black: #141414;
$light-gray: #fcfcfc;
$gray: #B0AFAB;
$yellow: #FFC543;
$custom-white: #FFFFFF;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-20: 20px;
$fs-24: 24px;
